h1 {
    color: blue;
    font-size: xx-large;
    font-family: monospace;
}

body {
    background-color: #ffffff;
    color: #333333;
    font-size: medium;
    font-family:fantasy;
    text-align: center;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
  border: 4px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
